{% extends 'base.html.twig' %}

{% block title %}
	Modifier un show
{% endblock %}

{% block body %}
	<h2>Modifier un show</h2>
	{{ include('show/_form.html.twig', {'http_method': 'PUT','button_label': 'Modifier'}) }}

	<p>
		<a href="{{ path('show_show', {'id': show.id}) }}">Annuler</a>
	</p>

	<nav>
		<a href="{{ path('show_index') }}">Retour à l'index</a>
	</nav>

{% endblock %}
