<footer style="bottom: 0; left: 0; width: 100%; background-color: #212529; padding: 1rem; color: #fff; text-align: center; margin-top: 50px;">
  <div>&copy; Projet Réservations ICC / ICC 2023</div>
  <div><a href="#" style="color: white; text-decoration: none;">Conditions d'utilisation</a></div>
</footer>
